extends layout

block content
  include topbar
  div.container
    div.content
      div.page-header
        h1 Main Page
          small __("Welcome to") #{title}
      div.row
        div.span10
          h2 Page Content
        div.span4
          h3 Secondary Content
          
    div.footer
      p &copy; nodeblox 2011