!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(type='text/javascript', src='/javascripts/lib/bootstrap/bootstrap-min.js')
    script(type='text/javascript', src='/javascripts/lib/bootstrap/bootstrap-modal.js')
  block content
  